<html>
  <head>
    <title>Persona 3 FES Guide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
  </head>
  <body>
  <div data-role="page">

    <div data-role="header" data-title="Start" data-position="fixed">
    {% if prev -%}
    <a href="/{{prev}}" data-icon="arrow-l" data-iconpos="left" data-prefetch>{{prev}}</a> 
    {% else -%}
    <a href="/" data-icon="arrow-l" data-iconpos="left" data-prefetch>Start</a> 
    {% endif -%}
      <h1>{{today}} ({{ dow }})</h1>
    {% if next -%}
    <a href="/{{next}}" data-icon="arrow-r" data-iconpos="right" data-prefetch>{{next}}</a>
    {% else -%}
    <a href="/" data-icon="arrow-l" data-iconpos="right" style="display:none">Start</a> 
    {% endif -%}
    </div>

    <div data-role="content"><!-- Morning -->
      <ul data-role="listview" data-divider-theme="e" data-theme="c">
        <li data-role="list-divider">Morning</li>
        {% if morning -%}
          {% for item in morning.items() -%}
            {% if item[0] == 'quiz' -%} 
        <li data-theme="a">Quiz Answer</li>
        <li>{{ item[1] }}</li>
            {% elif item[0] == 'exam' -%}
        <li data-theme="a">Exam Answers</li>
              {% for answer in item[1] -%}
        <li>{{ answer }}</li>
              {% endfor -%}
            {% endif -%}
          {% endfor -%}
        {% else -%}
        <li>No control</li>
        {% endif -%}
        </ul>
    </div>
    
    <div data-role="content"> <!-- After School -->
      <ul data-role="listview" data-divider-theme="e" data-theme="c">
        <li data-role="list-divider">After School</li>
        {% if afterschool -%}
          {% for as in afterschool -%}
            {% if as['quest'] -%}
        <li data-theme="a">Quest</li>
        <li>{{ as['quest'] }}</li>        
          {% endif -%}
          {% if as['arcana'] -%}
            {% if as['getpersona'] -%}
            <li data-icon="alert" data-theme="a">
              <h3>{{ as['arcana'] }} @ {{ as['where'] }}</h3>
              <p><i>Next meeting, bring {{ as['getpersona'] }}</i></p>
            </li>
            {% else -%}
            <li data-theme="a">{{ as['arcana'] }} @ {{ as['where'] }}</li>
            {% endif -%}
            {% if as['todo'] -%}
              {% for item in as['todo'] -%}
              <li>{{ item }}</li>
              {% endfor -%}
            {% else -%}
            <li>Say/Do anything</li>
            {% endif -%}
          {% endif -%}
          {% endfor -%}
        {% else -%}
        <li>No control</li>
        {% endif -%}
      </ul>
    </div>
    
    <div data-role="content"> <!-- Evening -->
      <ul data-role="listview" data-divider-theme="e" data-theme="c">
        <li data-role="list-divider">Evening</li>
        {% if evening -%}
          {% if evening['quest'] -%}
        <li data-theme="a">Quest</li>
        <li>{{ evening['quest'] }}</li>        
          {% endif -%}
          {% if evening['tartarus'] -%}
            <li data-theme="a"><b>You MUST go to the Tartarus tonight</b></li>
          {% elif evening['build'] -%}
        <li data-theme="a">Improve attributes</li>
            {% for stat in evening['build'] -%}
              {% if stat == 'courage' -%}
                <li>
                  <h3>If courage is not maxed</h3>
                  <p>{{courage[dow]['do']}} ({{courage[dow]['cost']}} yen) {% if courage[dow]['tartarus'] -%}or go to Tartarus{% endif -%}</p>
                  
                </li>
              {% endif -%}
              {% if stat == 'charm' -%}
                <li>
                  <h3>If charm is not maxed</h3>
                  <p>{{charm[dow]['do']}} ({{charm[dow]['cost']}} yen) {% if charm[dow]['tartarus'] -%}or go to Tartarus{% endif -%}
                </li>
              {% endif -%}
              {% if stat == 'academic' -%}
                <li>
                  <h3>If academic is not maxed</h3>
                  <p>{{academic[dow]['do']}} ({{academic[dow]['cost']}} yen) {% if academic[dow]['tartarus'] -%}or go to Tartarus{% endif -%}
                </li>
              {% endif -%}
            {% endfor -%}
          {% endif -%}
        {% else -%}
        <li>No Control</li>
        {% endif -%}
      </ul>
    </div>    

    <div data-role="content"> <!-- Late Night -->
      <ul data-role="listview" data-divider-theme="e" data-theme="c">
        <li data-role="list-divider">Late Night</li>
        {% if latenight -%}
          {% for event in latenight -%}
        <li>{{event}}</li>
          {% endfor -%}
        {% else -%}
        <li>No Control</li>
        {% endif -%}
      </ul>
    </div>

  </div>
  </body>
</html>
